<head>
	<style>
    div				{border: 2px solid black;
            border-radius: 15px;
            float:left;
            width: 25vh;
            height:80vh;
            text-align:center}
    div.monday		{background:#d9d7d7;}
    div.tuesday		{background: #fc5353}
    div.wednesday	{background:#d9d7d7}
    div.thursday	{background: #fc5353}
    div.friday 		{background:#d9d7d7}
	</style>

</head>
<body>

	<div class="monday">Monday
	</div>

	<div class="tuesday">Tuesday
	</div>

	<div class="wednesday">Wednesday
	</div>

	<div class="thursday">Thursday
	</div>

	<div class="friday">Friday
	</div>

</body>
