<!DOCTYPE html>
<html>
  <head>
    <title>FlightPlan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="padding: 5px; color: #F0F0F0; background: #237CBE;">
      Schedule
    </header>
    <%= yield %>
  </body>
</html>
